body {
    background-color: gold;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 8px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

a:hover {
    cursor: pointer;
}

p {
    color: black;
    font-weight: bold;
    text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

