body {
    background-color: gold;
}

button {
    margin-top: 50px;
    margin-left: 900px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

a:hover {
    cursor: pointer;
}